*{
	text-decoration: none;
	list-style: none;
	font-family: "Segoe UI";
}
body{
	background-color: #421117;
	color: white;

}
a{
	color: white;
	margin-right: 30px;
}
a:hover{
	border:2px solid #d73351;
	color: white;
}

nav>div>a>ul>li{
	margin-right: 40px !important; 
}
section	{
	padding: 30px;
}
.section3{
	padding-left: 200px;
	padding-top: 50px;

	font-weight: lighter;
	font-size: 60px;
}
.section3:hover{
	background-color: #421117;
	width: 100px;
	height: 200px;
	padding: auto;

} 
input, textarea{
	background-color: transparent;
}
.contact{
	background-color: #c37972;
}
nav	{

	
}
.logo{

	/*width: 15px;
	height: 15px;*/
}
.acceuil{
	background-image: url(image/fsd.png);
	background-size: 100% 700px;
	background-color: #d73351;


	
}
.senChoco{
	background-color: #8c3e2e;
	height: 300px;
}
.creation{

}